<html>
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script src="/js/socket.io.js"></script>
		<script src="/js/util/protocol.js"></script>
		<script src="/js/client.js"></script>
	</head>
	<body>
		<div id = 'main'></div>
		<script type="text/javascript">
			let client = window.client = new ConsoleClient();
			let host = 'localhost';
			let port = '3005';
			client.connect('xxx', host, port, function(err){
				if(err) throw err;
				client.request('helloPomelo',null,function(err,msg){
					let dom = document.getElementById('main');
					for(let key in msg){
						let elem = document.createElement('p');
						elem.innerText = msg[key]['body'];
						dom.appendChild(elem);
					}
					console.log(msg);
				});
			});
		</script>
	</body>	
</html>
